extends layout

block content

  h1#msg_h1= title
  p.description.lead #{resultat.length} result(s) for your request (40 km near you)
  .col-xl-1.col-md-1.col-sm-2.hidden-xs
  #map.col-xl-6.col-md-6.col-sm-8.col-xs-12

  script.
    var nb = !{JSON.stringify(resultat)};
    function initMap() {
    var latitude = "#{myposlat}";
    var longitude = "#{myposlong}";

    var map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: parseFloat(latitude), lng: parseFloat(longitude)},
      zoom: 13
    });

    var i;
    for(i = 0; i < nb.length; i++)
    {
      var lat= nb[i].latitude;
      var lg= nb[i].longitude;
      var myLatLng = {lat: parseFloat(lat), lng: parseFloat(lg)};
      var marker = new google.maps.Marker({
        position: myLatLng,
        map: map,
        title: nb[i].title
      });
    }
    }
  script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBSgoZTf61bLHq-ZCJEIE3SHKIBx7gUIOk&callback=initialize")
  script(src="https://code.responsivevoice.org/responsivevoice.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/annyang/2.6.0/annyang.min.js")
  script(src="/javascripts/cookies.js")
  script.
    if(navigator.language == "fr")
      var langue="fr-FR";
    else
      var langue="en";

    var flag = false;

    if(getCookie("vocal"))
    {
      flag = true;
    }

    if(annyang){
      annyang.setLanguage(langue);
      if(langue = "fr-FR")
      {
        var commands = {
          'accueil': function(){ if(flag){responsiveVoice.speak("Page accueil.", "French Female"); window.location="/";}},
          'lecture': function(){ if(flag){
            var i;
            if(nb.length==0)
              responsiveVoice.speak("Aucun resultat", "French Female");
            for(i = 0; i < nb.length; i++)
            {
              responsiveVoice.speak(nb[i].title + " à " + nb[i].where, "French Female");
            }
          }},
          'aide': function(){ if(flag){responsiveVoice.speak("Pour accéder à une page, dites accueil ou lecture. En cas d'urgence faites le 112.", "French Female");}}
        };
      }
      else
      {
        // définition des commandes vocales
        var commands = {
          'home': function(){ if(flag){responsiveVoice.speak("Going to home page."); window.location="/";}},
          'read': function(){ if(flag){
            var i;
            if(nb.length==0)
              responsiveVoice.speak("No results.");
            for(i = 0; i < nb.length; i++)
            {
              responsiveVoice.speak(nb[i].title + " in " + nb[i].where);
            }
          }},
          'help': function(){ if(flag){responsiveVoice.speak("To go to home page, just say home. To listen to the offers near you, say read. In case of emergency, call 112.");}}
        };
      }

      // ajout des commandes et écoute
      annyang.addCommands(commands);
      annyang.start();

    };

  //- affichage des événements
  .hidden-xl.hidden-md.col-sm-2
  .col-xl-3.col-md-3.col-sm-8.col-xs-12
      - var nb = resultat.length;
      - var i = 0;
      if nb <= 1
        while i < nb
          .well
            h3 #{resultat[i].title}
            p
              | #{resultat[i].what}
              if(resultat[i] != -1)
                | #{resultat[i].date}
              br
              | by : #{resultat[i].who}
            - i = i + 1
